
.nav {

	display: flex;
	justify-content: space-evenly;
	margin-top: 25px;

	&__button {

		& button {
			width: 80px;
			height: 40px;
			border: none;
			border-radius: 5px;
			background-color: grey;
			color: white;
			cursor: pointer;
		}
	}
}
